/* HELLO WORLD! */ 

$clr_main : #4adbb4 ;
$clr_secondary : #818d92 ;
$clr_contrast : #aa8f66 ;
$clr_dark : #095256;
$clr_background : #92ddc8 ;

body {
background-color: $clr_background ;
color: $clr_contrast ;
}


